link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=", crossorigin="")
script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js", integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=", crossorigin="")
link(rel="stylesheet", href="https://www.unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css", integrity="sha384-NZLkVuBRMEeB4VeZz27WwTRvlhec30biQ8Xx7zG7JJnkvEKRg5qi6BNbEXo9ydwv", crossorigin="")
script(src="https://www.unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js", integrity="sha384-JP5UPxIO2Tm2o79Fb0tGYMa44jkWar53aBoCbd8ah0+LcCDoohTIYr+zIXyfGIJN", crossorigin="")
div(class='row')
    div(id='network-map')
