extends ../../common/layout
block content
    div(class='row')
        div(class='col-12 col-sm-5')
            div(class='card')
                div(class='card-header')
                    h2(class="card-title")
                        i(class="fas fa-map-marked-alt")
                        |
                        span(class="ml-3") Coverage Area Map Definition
                div(class='card-body')
                    p(class='alert alert-light', role='alert')
                        | Upload the generated json file as generated from
                        a(href='https://geojson.io/', target='_blank', class='alert-link') https://geojson.io/
                    hr
                    form
                        input(class='form-control form-control-md no-border d-none', id='current-placement-session', name='current-placement-session' type='text')
                        div(class="form-group")
                            label(for="geojson-file", class="form-label") GeoJSON File
                            input(class='form-control form-control-md no-border', id='geojson-file', name='geojson-file' type='file', accept='.geojson')
                        div(class="form-group")
                            label(for="baseStationIterations") Placement Iterations
                            input(type="number", class="form-control", id="baseStationIterations", name="baseStationIterations", value='5')
                    hr
                    p(class='alert alert-light mt-1', role='alert') Base Stations
                    div(class='btn-placeholder')
                        button(class="btn btn-sm btn-primary float-right", type="button", id="add-basestation-type", data-toggle="modal", data-target="#baseStationTypeModal")
                            i(class="fas fa-plus")
                    table(id='basestations-table', class='table')
                        thead
                            tr
                                th Applied
                                th Type
                                th Radio
                                th Range (m)
                                th Stations
                                th Actions
                        tbody
                            tr(data-nobsinfo='')
                                td(colspan='5') No base-stations applied yet.
                    hr
                    div(class='btn-placeholder')
                        button(class="btn btn-sm btn-primary float-right", type="button", id="generate-placement") Generate
        div(class='col-12 col-sm-7')
            div(class='card')
                div(class='card-header')
                    h2(class="card-title")
                        i(class="fas fa-map-marked-alt")
                        |
                        span(class="ml-3") Coverage & Placement Map
                    button(class="btn btn-sm float-right", type="button", id="download-locations")
                        i(class="fas fa-download")
                div(class='card-body')
                    p(class='alert alert-light', role='alert') Below you can see the visualization of the base-station placement.
                    div(id='placement-visualization')

    div(class="modal fade", id="baseStationTypeModal", tabindex="-1", aria-labelledby="baseStationTypeModalLabel", aria-hidden="true")
        div(class="modal-dialog modal-lg")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title", id="baseStationTypeModalLabel") Add new Base station.
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class='modal-body')
                    div(class="row")
                        div(class="col-lg-12")
                            div(class="alert alert-light") Set the base station type, Type, Communication Technology & Base Station Range in meters.
                    hr
                    div(class="row")
                        div(class="col-lg-6")
                            form
                                div(class="form-group")
                                    label(for="baseStationType") Base Station Type
                                    select(class="form-control", id="baseStationType", name="baseStationType")
                                        option(value='fixed') Fixed
                                        option(value='mobile') Mobile
                                div(class="form-group")
                                    label(for="baseStationTechnology") Base Station Technology
                                    select(class="form-control", id="baseStationTechnology", name="baseStationTechnology")
                                        option(value='wifi') Wi-Fi
                                        option(value='4G', selected='true') 4G(LTE)
                                        option(value='5G') 5G-NR
                                        option(value='mobile') 5G-NR (Mobile)
                                div(class="form-group")
                                    label(for="baseStationRange") Base Station Range (in meters)
                                    input(type="number", class="form-control", id="baseStationRange", name="baseStationRange")
                div(class="modal-footer")
                    button(type="button", class="btn btn-primary", id="add-basestation") Add
