extends ../../common/layout
block content
    div(class='row')
        div(class='col-lg-6')
            div(class='card')
                div(class='card-body')
                    table(id='robots-table', class='table')
                        thead
                            tr
                                th #
                                th Robot (URN)
                                th Type
                                th Mode
                        tbody
